@model MvcDemo.Model.Entities.ErrorModel
<style>
    #errorMessage {
        color: red;
        font-weight: bold;
        padding-top: 20px;
    }
</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<div>
    Uh oh, it looks like something went wrong...    
</div>
<div id="errorMessage">
    @{
        string message = null;
        switch (Model.HttpStatusCode)
        {
            case (int)HttpStatusCode.NotFound: // 404:
                message = "The requested content was not found";        
                break;
            case (int)HttpStatusCode.InternalServerError: //500:
                message = string.Concat("The following server error was encountered:<br /> ", 
                    Model.Exception.Message);
                break;
        }
    }
    
    @Html.Raw(message)
</div>
